{% extends "base.html" %}
{% block htmltitle %}To Do List{% endblock htmltitle%}
{% block bodycontent%}
<div id="app">
    <section class="section-1">
        <div class="list-content-input-box">
            <h1 class="list-content-input-title">待辦事項</h1>
            <p class="list-content-input-content"><span class="list-content-input-span">*</span>項目</p>
            <div class="list-content-input">
                    <div id="content-input-div" class="content-input-div">
                        <div class="input-box">
                            <input class="content-input" type="text"
                                placeholder="請輸入待辦事項" ref="getContentValue" v-bind:disabled="isloding" v-on:input="inputchange" v-on:keyup.enter="ContentSubmit">
                        </div>
                        <div class="button-box" >
                            <button class="content-submit" id="content-input-submit" v-bind:disabled="buttondisable" @click="ContentSubmit">
                                <p v-if="!isloding">送出</p>
                                <b-spinner v-if="isloding" small type="border"></b-spinner>
                            </button>
                        </div>
                    </div>
                    <div class="input-error-format" v-if="valueIsNull">
                        不得為空值
                    </div>
            </div>
        </div>
    </section>
    <section class="section-2">
        <div class="tab_css">
            <input id="tab1" type="radio" name="tab" checked="checked" />
            <label for="tab1" @click="GetTodolistprepare">待完成</label>
            <div class="tab_content">
                <template v-for="i in preparelist">
                    <div class="tab_content-table-prepare">
                        <div>
                            <div class="tab_content-table-prepare-title prepare-title">
                                <span>[[i.title]]</span>
                            </div>
                            <button @click=[[removebutton([[i.id]],[[i.title]])]]>移除</button>
                            <button @click=[[finnshbutton([[i.id]],[[i.title]])]]>完成</button>
                        </div>
                    </div>
                </template>
            </div>
            <input id="tab2" type="radio" name="tab" />
            <label for="tab2" @click="GetTodolistfinish">已完成</label>
            <div class="tab_content" id="tab_content">
                <div class="tab_content-table-finnsh">
                    <template v-for="i in finishlist">
                        <div class="tab_content-table-finnsh-box">
                            <div class="finnsh-title">
                                <p>[[i.title]]
                                </p>
                            </div>
                            <div class="finnsh-timeview">
                                <p>[[reversedMessage(i.updated_at)]]</p>
                            </div>
                        </div>
                    </template>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock bodycontent%}